<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let categoryObj of mainObj">
        <ng-template ngbPanelTitle>
            <div>
                <span>&#9733; <b> {{categoryObj.catName}} </b> &#9733;</span>
            </div>
            <div class="floatLeft">
                <span>{{categoryObj.catInfo.items.length}} Items</span>
            </div>

        </ng-template>
        <ng-template ngbPanelContent>
            <div *ngFor="let categoryItem of categoryObj.catInfo.items">
                <br>
                <div>
                    <div class="sc-jtfcRu eBzcPZ">
                        <div class="sc-1s0saks-17 bGrnCu">
                            <div type="veg" class="sc-1tx3445-0 kcsImg sc-1s0saks-6 eEOGnT floatLeft"><i
                                    class="sc-rbbb40-1 iFnyeo" size="13" color="#3AB757"><svg
                                        xmlns="http://www.w3.org/2000/svg" fill="#3AB757" width="13" height="13"
                                        viewBox="0 0 20 20" aria-labelledby="icon-svg-title- icon-svg-desc-" role="img"
                                        class="sc-rbbb40-0 khXxzt">
                                        <g clip-path="url(#clip0_835:69868)">
                                            <path
                                                d="M15 10C15 12.74 12.76 15 10 15C7.24 15 5 12.74 5 10C5 7.26 7.26 5 10 5C12.74 5 15 7.24 15 10ZM20 4V16C20 18.26 18.26 20 16 20H4C1.76 20 0 18.26 0 16V4C0 1.74 1.76 0 4 0H16C18.26 0 20 1.74 20 4V4ZM18.34 4C18.34 2.74 17.26 1.66 16 1.66H4C2.76 1.66 1.66 2.74 1.66 4V16C1.66 17.26 2.76 18.34 4 18.34H16C17.26 18.34 18.34 17.26 18.34 16V4V4Z">
                                            </path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_835:69868">
                                                <rect width="20" height="20"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg></i></div>
                            <div class="sc-1s0saks-10 cYSFTJ">
                                <div class="sc-1s0saks-11 cYGeYt">
                                    <div disabled="" class="sc-15orjsw-1 iuWdTE floatRight">
                                        <div disabled="" class="sc-15orjsw-10 cbYSQo">
                                            <div class="sc-15orjsw-0 gVvWyZ">
                                                <button type="btn" class="btn {{categoryItem.itemSelected ? 'btn-outline-primary' : 'btn btn-outline-danger' }}" (click)="selectCategoryItem(categoryObj , categoryItem)" data-toggle="modal" data-target="#exampleModal" >{{categoryItem.itemSelected ? 'Add' : 'Remove'}}</button>
                                                <i class="sc-rbbb40-1 iFnyeo sc-15orjsw-5 sc-15orjsw-6 dEmZDF" size="12"
                                                    color="#CFCFCF"><svg xmlns="http://www.w3.org/2000/svg"
                                                        fill="#CFCFCF" width="12" height="12" viewBox="0 0 20 20"
                                                        aria-labelledby="icon-svg-title- icon-svg-desc-" role="img"
                                                        class="sc-rbbb40-0 ezrcri">
                                                        <title>plus</title>
                                                        <path
                                                            d="M15.5 9.42h-4.5v-4.5c0-0.56-0.44-1-1-1s-1 0.44-1 1v4.5h-4.5c-0.56 0-1 0.44-1 1s0.44 1 1 1h4.5v4.5c0 0.54 0.44 1 1 1s1-0.46 1-1v-4.5h4.5c0.56 0 1-0.46 1-1s-0.44-1-1-1z">
                                                        </path>
                                                    </svg></i>
                                            </div>
                                        </div><span disabled="" *ngIf="categoryItem.isCustomizable" class="sc-15orjsw-2 fliKaZ">Customizable</span>
                                    </div>
                                    <div class="sc-1s0saks-13 kQHKsO">
                                        <h4 class="sc-1s0saks-15 iSmBPS">&nbsp;{{categoryItem.itemName}}</h4>
                                        <div>
                                            <ng-template #t let-fill="fill">
                                                <span class="star" [class.full]="fill === 100">
                                                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                                                </span>
                                            </ng-template>

                                            <ngb-rating [(rate)]="categoryItem.itemRating" [starTemplate]="t" [readonly]="true"
                                                [max]="5"></ngb-rating>

                                        </div>
                                        <div class="sc-17hyc2s-3 jOoliK sc-1s0saks-8 gYkxGN"><span
                                                class="sc-17hyc2s-1 cCiQWA">₹{{categoryItem.itemPrs}}</span></div>
                                    </div>
                                    
                                </div>
                                <p class="sc-1s0saks-12 hcROsL">{{categoryItem.itemDesc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>


<ng-template id='exampleModal' #exampleModal let-modal>
    <div class="modal-header">
        {{selectedItrm.itemName}}
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="" style="min-height: 125px;">
          
            RSN
          
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success " > Add </button>
    </div>
  </ng-template>